<div class="jumbotron">
	<h1>About me</h1>
	<p>I am a Georgia Tech Computer and Software Engineering Senior learning and playing around with Ruby on Rails. Enjoy!</p>

	<%= render 'layouts/contact_modal'%>
</div>


