// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Devise colors
.panel-footer a:link, 
.panel-footer a:visited, 
.panel-footer a:hover { 
	color: #2980b9; 

}

.link { 
	color: #2980b9; 
}

.link:hover {
	color: #2980b9;
}